<!-- Leaflet CSS & JS CDN -->
<link
  rel="stylesheet"
  href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

<!-- Map container -->
<div id="map" style="height: 400px; width: 100%; margin-top: 20px;"></div>

<!-- Custom script -->
<script src="/js/locationselect.js"></script>
