<aside class="side-nav">
  <a href="/dashboard">Dashboard</a>
  <a href="/profile">Profile</a>
  <a href="/register-child">Register Child</a>
  <a href="/track-child">Track Child</a>
  <a href="/geofence-settings">Safezone Settings</a>

</aside>
