<aside class="side-nav">
  <a href="/geofence-view">View Geofence</a>
  <a href="/register-child">Register Child</a>
  <a href="/track-child">Track Child</a>
  <a href="/geofence-setup">Setup Geofence</a>
</aside>
